<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <% include partials/header %>
  <body>
    <% include partials/header %>
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  </body>

  <% include partials/script %>
</html>
