<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <% include partials/header %>
  <body>
    <% include partials/header %>
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<<<<<<< HEAD
  </body>

=======
    <aside class="app-sidebar">
      <!-- <div class="app-sidebar__user">
        <img
          class="app-sidebar__user-avatar"
          src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"
          alt="User Image"
        />
        <div>
          <p class="app-sidebar__user-name">John Doe</p>
          <p class="app-sidebar__user-designation">Frontend Developer</p>
        </div>
        
      </div> -->
      <ul class="app-menu">
        <li>
          <a class="app-menu__item active" href="#"
            ><i class="app-menu__icon fa fa-lock""></i
            ><span class="app-menu__label">Vault</span></a
          >
        </li>
        <li>
          <a class="app-menu__item" href="#"
            ><i class="app-menu__icon fa fa-users"></i
            ><span class="app-menu__label">My Connections</span></a
          >
        </li>
        <li>
          <a class="app-menu__item" href="#"
            ><i class="app-menu__icon fas fa-wallet"></i
            ><span class="app-menu__label">My Wallet</span></a
          >
        </li>
      </ul>
    </aside>
    <main class="app-content">
        <div class="ip"><button type="button" class="btn btn-inverse btn-lg btYellow">Create Ip</button></div>
   
      </main>

    
  </body>


  
>>>>>>> b1c578a... Client side
  <% include partials/script %>
</html>
