<li class="treeview">
  <a class="app-menu__item" href="#" data-toggle="treeview"
    ><i class="app-menu__icon fa fa-file-text"></i
    ><span class="app-menu__label">Pages</span
    ><i class="treeview-indicator fa fa-angle-right"></i
  ></a>
  <ul class="treeview-menu">
    <li>
      <a class="treeview-item" href="blank-page.html"
        ><i class="icon fa fa-circle-o"></i> Blank Page</a
      >
    </li>
    <li>
      <a class="treeview-item" href="page-login.html"
        ><i class="icon fa fa-circle-o"></i> Login Page</a
      >
    </li>
    <li>
      <a class="treeview-item" href="page-lockscreen.html"
        ><i class="icon fa fa-circle-o"></i> Lockscreen Page</a
      >
    </li>
    <li>
      <a class="treeview-item" href="page-user.html"
        ><i class="icon fa fa-circle-o"></i> User Page</a
      >
    </li>
    <li>
      <a class="treeview-item" href="page-invoice.html"
        ><i class="icon fa fa-circle-o"></i> Invoice Page</a
      >
    </li>
    <li>
      <a class="treeview-item" href="page-calendar.html"
        ><i class="icon fa fa-circle-o"></i> Calendar Page</a
      >
    </li>
    <li>
      <a class="treeview-item" href="page-mailbox.html"
        ><i class="icon fa fa-circle-o"></i> Mailbox</a
      >
    </li>
    <li>
      <a class="treeview-item" href="page-error.html"
        ><i class="icon fa fa-circle-o"></i> Error Page</a
      >
    </li>
  </ul>
</li>
