<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <% include partials/header %>
  <body>
    <% include partials/header %>
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <!-- <div class="app-sidebar__user">
        <img
          class="app-sidebar__user-avatar"
          src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"
          alt="User Image"
        />
        <div>
          <p class="app-sidebar__user-name">John Doe</p>
          <p class="app-sidebar__user-designation">Frontend Developer</p>
        </div>
        
      </div> -->
    </aside>
    <main class="app-content">
      <div class="upload">
        <form action="/upload" enctype="multipart/form-data" method="POST">
          <input type="file" name="myFile" id="myFile" required />
          <input type="submit" value="Upload" />
        </form>
      </div>
    </main>
  </body>
</html>
